.header {
    height: 40px;
    background-color: #4d217a;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.heading { 
    text-align: center;
    flex: 1;
    font-size: xx-large;
    
}

.userDetails {
    text-align: right;
}